.app {
	overflow-x: hidden;
}

.main {
	background: $fleub-color-lightgray;
	position: relative;
	float: right;
	width: calc(100% - #{$sidebar-width});
	height: 100%;
	overflow: auto;
	@media (max-width: 768px) {
		width: 100%;
		transition: transform .3s ease;
	}
	&.main.expanded {
		@media (max-width: 768px) {
			transform: translate3d($sidebar-width, 0px, 0px);
			transition: transform .3s ease;
		}
	}
}

.toolbar {
	background: $fleub-color-white;
	height: $toolbar-height;
}

.sidebar-toggle {
	display: inline-block;
	width: $toolbar-height;
	height: $toolbar-height;
	text-align: center;
	padding-top: 17px;
	border-right: solid 1px black;
	font-size: 20px;
	color: $fleub-color-primary;
}

.new-full,
.edit-full {
	text-align: center;
}
