// For some reasons, Bootstrap treats links without href differently.
a:not([href]) {
	color: $link-color;
	text-decoration: $link-decoration;

	@include hover-focus {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}

	&:focus {
		@include tab-focus();
	}
}

.app {
	background: $gray-lighter;
	min-height: 100%;
}

.navbar {
	background: $fleub-color-white;
	border-bottom: solid 1px $card-border-color;

	.navbar-brand i {
		padding-top: 6px;
	}
}

.container {
	padding-top: 1em;
	padding-bottom: 1em;

	@media (max-width: 576px) {
		margin-left: 6px;
		margin-right: 6px;
	}
}

.layout-selector {
	margin-bottom: .5rem;
}

.slider.slider-horizontal {
	width: 100%;
}

.slider-handle {
	background-color: hsl(0, 0%, 50%);
	background-image: none;
}

.slider-selection {
	background-color: hsl(0, 0%, 85%);
	background-image: none;
}

.col-xs-center {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
