// For some reasons, Bootstrap treats links without href differently.
a:not([href]) {
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus();
  }
}

.app {
	overflow-x: hidden;
}

.main {
	background: $gray-lighter;
	position: relative;
	float: right;
	width: 100%;
	height: 100%;
	overflow: auto;
	transition: transform .3s ease;
	&.main.expanded {
		transform: translate3d($sidebar-width, 0px, 0px);
	}
}

.navbar {
	background: $fleub-color-white;
	border-bottom: solid 1px $card-border-color;

	.navbar-brand i {
		padding-top: 6px;
	}
}

.container {
	padding-top: 1em;
	padding-bottom: 1em;
}

.slider.slider-horizontal {
	width: 100%;
}

.slider-handle {
	background-color: hsl(0, 0%, 50%);
	background-image: none;
}

.slider-selection {
	background-color: hsl(0, 0%, 85%);
	background-image: none;
}

.col-xs-center {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
