$edit-search-radius: 5px;
$edit-search-margin: 25px;
$edit-search-width: 500px;
.edit-search-container {
	width: $edit-search-width;
	margin-left: auto;
	margin-right: auto;
}
.edit-search {
	width: $edit-search-width;
	background: $fleub-color-white;
	margin-top: $edit-search-margin;
	border-radius: $edit-search-radius;
	text-align: center;
	cursor: pointer;
}
.edit-search-sep {
	background: $gray-lighter;
	margin-top: $edit-search-margin;
}
