// Variables.
$sidebar: 135px;
$panel-width: 324px;
$panel-background: #7a8f94;
$lightgray: #e9e9e9;
$darktitle: #0e1b1f;
$orange: #f26101;
$red-500: #f44336;
$white-full: #ffffff;
$red-strong: $red-500;
$toolbar-height: 56px;
$sidebar-width: 260px;
