$grid-item-margin: 8px;
$grid-item-radius: 6px;
.grid-item {
	width: 300px;
	margin-top: $grid-item-margin;
	margin-bottom: $grid-item-margin;
	margin-left: $grid-item-margin;
	margin-right: $grid-item-margin;
	cursor: pointer;
	img {
		width: 100%;
		border-radius: $grid-item-radius $grid-item-radius 0 0;
	}
}
.grid-item-detail {
	background: $fleub-color-white;
	border-radius: 0 0 $grid-item-radius $grid-item-radius;
}
