.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	width: $sidebar-width;
	padding: 8px;
	background: $fleub-color-primary;
	color: #fff;

	a {
		color: white;
		&:hover {
			color: white;
		}
	}
}
