// Colors.
$fleub-color-primary: #e73f3c;
$fleub-color-lightgray: #e9e9e9;
$fleub-color-white: #ffffff;

$brand-primary: $fleub-color-primary;

// Sizes.
$toolbar-height: 56px;
$sidebar-width: 260px;
