.ribbon {
	height: 100px;
	background: #1e292c;
	color: #fff;
	img {
		width: 100%;
	}
	.tile {
		border-right: 1px solid #4e5658;
	}
	.tile > div {
		background: #1e292c;
		color: #fff;
		font-size: 20px;
	}
}
